@{
    ViewData["Title"] = "Home Page";
}

<h1>Zelda Monster Search</h1>
<form asp-action="Search" method="post">
    <label>Search for a Monster</label>
    <input type="text" name="monsterName" />
    <button type="submit">Submit!</button>
</form>
