@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Login">Login</a>. @*the asp part references the action and controller names!! *@
</div>
