@*
In the view display the NAME from the model in TO UPPER
Also in the view display the LENGTH of the NAME string as a NUMBER
*@

@model Welcome
<h1>@Model.Name.ToUpper()</h1>
   
<p>Your name is: @Model.Name.Length</p>
    

   

